<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" type="text/css" href="\cssLogin\login.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Đăng nhập / Đăng ký</h2>
<div class="container" id="container">
    <div class="form-container sign-up-container">

        <form th:action="@{/process_register}" th:object="${user}" method="post">
            <h1 type="padding:15px" >Tạo tài khoản</h1>

            <br>
            <input type="text" th:field="*{lastName}" class="form-control" placeholder="Họ và tên đệm" required minlength="2" maxlength="20" />
            <input type="text" th:field="*{firstName}" class="form-control" placeholder="Tên" required minlength="2" maxlength="20" />
            <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required />
            <input type="password" th:field="*{password}" placeholder="Mật khẩu" class="form-control" />
            <br>
            <button type="submit" class="btn btn-primary" >Đăng ký</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/login}"  method="post">
            <h1>Chào mừng đã đến với sneaker NTC</h1>
            <p>ĐĂNG NHẬP!</p>
            <br>
            <input type="email" name="email"  placeholder="Email" required autofocus />
            <input type="password"  name="password" placeholder="Mật khẩu" required />
            <!--			<a href="#">Bạn quên mật khẩu ?</a>-->
            <br>
            <button type="submit" >Đăng nhập</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Chào mừng đã đến với sneaker NTC</h1>
                <p>Bạn có đã có tài khoản và muốn đăng nhập.</p>
                <button class="ghost" id="signIn">Đăng nhập</button>


            </div>
            <div class="overlay-panel overlay-right">
                <h1>Đăng ký</h1>
                <p>Bạn chưa có tài khoản. Vui lòng đăng ký ở đây.</p>
                <button class="ghost" id="signUp">Đăng ký</button>

            </div>
        </div>
    </div>
</div>

</body>
</html>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add('right-panel-active');
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove('right-panel-active');
    });
</script>
